.TaskForm {
    position: fixed;
    display: flex;
    gap: 0.5rem;
    margin-bottom: -2rem;
    margin-top: 0.5rem;
    padding: 6px;
    background-color: var(--primary);
    box-shadow: 6px 6px 0 0 black;
}

.TaskForm input {
    flex: 1;
    padding: 0.4rem;
}

.TaskForm button {
    border-radius: 10px;
    background-color: green;
    color: white;
    border-color: black;
}